%p#notice= notice
%h1 My Sessions
%p
  %b Name:
  = @student.name
%p
  %b Email:
  = @student.email

- @student.sessions.each do |session|
  %p
    = session.date_time
    %span
      with
      = session.tutor.name

.navButtons{:style => "display: flex; justify-content: center;"}
  = link_to 'Back', search_path, {:class => "btn", :style => "margin: 10px;"}
